# Converting from excel file to a dataframe

In [9]:
import os
import pandas as pd

In [10]:
# excel_file_path = 'office_info.xlsx'
# df = pd.read_excel(excel_file_path)

In [11]:
data = pd.read_csv('data.csv')

In [12]:
data.head(2)

      Name      Project   Salary
0     Mike  Improvement  6^500#0
1  Jessica   Automation    85000

In [22]:
for column in data.columns:
    data[column] = data[column].apply(str)
    data[column] = data[column].str.replace(r'/W',"")

In [31]:
data.to_excel("removed_characters.xlsx")

In [29]:
# data